ui       = true
audit "file" "charm-stdout" {
  description = "Audit device managed by the charm"
  options {
    file_path = "stdout"
  }
}
storage "raft" {
  path= "{{ raft_storage_path }}"
  node_id = "{{ node_id }}"
  {% for retry in retry_joins %}
  retry_join {
    leader_api_addr = "{{ retry.leader_api_addr }}"
    leader_ca_cert_file = "{{ retry.leader_ca_cert_file }}"
  }
  {% endfor %}
}
log_level = "{{ log_level }}"
listener "tcp" {
  telemetry {
    unauthenticated_metrics_access = true
  }
  address       = "{{ tcp_address }}"
  tls_cert_file = "{{ tls_cert_file }}"
  tls_key_file  = "{{ tls_key_file }}"
}
default_lease_ttl = "{{ default_lease_ttl }}"
max_lease_ttl     = "{{ max_lease_ttl }}"
disable_mlock     = true
cluster_addr      = "{{ cluster_address }}"
api_addr          = "{{ api_address }}"
telemetry {
  disable_hostname = true
  prometheus_retention_time = "12h"
}
{% if autounseal_address %}
seal "transit" {
  address         = "{{ autounseal_address }}"
  key_name        = "{{ autounseal_key_name }}"
  mount_path      = "{{ autounseal_mount_path }}"
  tls_ca_cert     = "{{ autounseal_ca_cert_path }}"
}
{% endif %}
{% if pkcs11_lib %}
{% if pkcs11_plugin_directory %}
plugin_directory = "{{ pkcs11_plugin_directory }}"
plugin_auto_register = true

plugin "kms" "pkcs11" {
  command   = "{{ pkcs11_plugin_command }}"
  version   = "{{ pkcs11_plugin_version }}"
  sha256sum = "{{ pkcs11_plugin_sha256sum }}"
}
{% endif %}
seal "pkcs11" {
  lib = "{{ pkcs11_lib }}"
  {% if pkcs11_slot %}slot = "{{ pkcs11_slot }}"{% endif %}
  {% if pkcs11_token_label %}token_label = "{{ pkcs11_token_label }}"{% endif %}
  pin = "{{ pkcs11_pin }}"
  {% if pkcs11_key_label %}key_label = "{{ pkcs11_key_label }}"{% endif %}
  {% if pkcs11_key_id %}key_id = "{{ pkcs11_key_id }}"{% endif %}
}
{% endif %}
